<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/assets/img/profile.png" type="image/png">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ "/css/default.css" | prepend: site.base }}">
</head>
<body>
	<div class="center-container" id="navigation-container">
		<div class="center-content">
			{% include navigation.html %}
		</div>
	</div>
	<div style="width: 100%;">
		<div style="width: 220px; float:left;">
			<div id="profile-container">
				<div id="profile-image-container" style="margin: 10%; display: inline-block;">
					<img src = "/assets/img/profile.png">
				</div>
				<h1 style="text-align: center; color: burlywood;">BreadKey</h1>
			</div>
		</div>	
		<div style="display: table;">
			{{ content }}
		</div>
	</div>
</body>
</html>