<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/assets/img/profile.png" type="image/png">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ "/css/default.css" | prepend: site.base }}">
	<link rel="stylesheet" href="/assets/css/syntax.css">
	<script src="https://unpkg.com/mermaid@8.8.4/dist/mermaid.min.js"></script>
</head>
<body style="margin: 0px; min-width: 1012px;">
	<div class="menu">
		<div class="center-container" id="navigation-container">
			<div class="center-content">
				{% include navigation.html %}
			</div>
		</div>
	</div>
	<div class="main-container">
		<div class="main">
			<div class="float-left" id="profile-container">
				<a href="/about.html" style="width: 100%">
					<div id="profile-image-container" style="margin: 10%; text-align: center;">
						<img src = "/assets/img/profile.png">
					</div>
					<h1 style="text-align: center; color: burlywood;">BreadKey</h1>
				</a>
			</div>
			<div id="content-container" class="float-left">
				<div style="margin-left: 0px;">	
					{{ content }}
				</div>
			</div>
		</div>
	</div>
</body>
</html>